body{
    margin-top: 5%;
    margin-left: 35%;
    background-color: lightgrey;
}
#lol{
    background-color: white;
    width: 300px;
    height: 70px;
}
button{
    background-color: DarkSlateGray;
}
#target{
    position: absolute;
    width: auto;
    height: auto;
    background-color: white;
    box-shadow: 0 0 15px OldLace;
    font-size: 200%;
    
}